@{
    ViewData["Title"] = "Agradecimentos";
}

<section class="container">
    <div class="text-center p-3">
        <p class="display-2">#DeVLoG</p>
        <p class="h3">Um agradecimento em especial à professora <a href="https://github.com/Francisleide" rel="external" target="_blank" class="text-decoration-none">Fran</a></p>
        <p class="display-4">Desenvolvimento de Sistemas</p>
        <p class="h4">SENAI CIMATEC</p>
    </div>
</section>
