@{
    ViewData["Title"] = "Home Page";
}

<section class="container">
    <div class="text-center p-3">
        <h1>#DeVLoG</h1>
        <p>Gerenciador de vendas e logística</p>
    </div>
</section>
