@{
    ViewData["Title"] = "Home Page";
}

<section class="container">
    <div class="text-center p-3">
        <h1 class="display-3">#DeVLoG</h1>
        <p class="display-4">Gerenciador de vendas e logística</p>
    </div>
</section>
