@{
    ViewData["Title"] = "Home Page";
}

<section class="container">
    <div class="text-center p-3">
        <h1 class="display-xl-3">#DeVLoG</h1>
        <p class="display-xl-4">Gerenciador de vendas e logística</p>
        <img src="~/LogoMVC.png" alt="logo da página principal" class="img-fluid img-logo">
    </div>
</section>
